<!DOCTYPE html>
<html>
  <head>
    <title>Create New Fortune</title>
  </head>
  <body>
    <div class="container">
      <h1>Create New Fortune</h1>
      <form action="/create" method="post">
          <tbody>
            <tr>
              <td>Content:</td>
              <td><input type="String" name="content" id="content"></input></td>
            </tr>
            <tr>
              <td colspan="2"><input type="submit" value="Save" /></td>
            </tr>
          </tbody>
      </form>
      <button type="button"><a href="/">Retour</a></button>
    </div>
  </body>
</html>
